* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#111;
    max-width:95vw;
    margin:auto;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

.play-hunter {
    text-decoration:none;
    color:white;
}

.inner-navigation {
    padding-top:2rem;
    font-size:1.1rem;
    font-weight:bolder;
}

li {
    list-style:none;
}

.sidebar {
    position:sticky;
    top:1rem;
    height:min-content;
}

.sidebar-option {
    display:block;
    padding:.5rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
    text-decoration:none;
    color:white;
}

.sidebar-content {
    margin-bottom:2.5rem;
}

.content {
    display:grid;
    grid-template-columns:12% 88%;
}

.games {
    display:flex;
    height:min-content;
}

.grid-col {
    flex:1;
    gap:1rem;
    padding:1rem;
    width:10rem;
    height:min-content;
    padding-top:0;
}

h1 {
    width:100%;
    padding:2rem 0;
    font-size:4rem;
}



.card {
    width:100%;
    background:#222;
    border-radius:1.2rem;
    margin-bottom:1rem;
    break-inside:avoid-column;
    break-before: auto;
}

.game-image {
    width:100%;
    height:auto;
    border-top-left-radius:1.2rem;
    border-top-right-radius:1.2rem;
}

.game-title {
    padding:0 1.2rem 1.5rem 1.2rem;
    font-size:1.5rem;
}

.game-rating {
    display:flex;
    justify-content:flex-end;
    padding:.7rem;
    font-weight:bolder;
    color:hsl(96, 82%, 59%)
}

.loading-initial-content {
    fill:white;
    display:flex;
    justify-content: center;
    height:min-content;
}

.loading-more-content {
    display:none;
    fill:white;
    display:flex;
    justify-content: center;
    grid-column:2;
}

#linear {
    visibility:hidden;
}

.order-section {
    display:flex;
 
    justify-content:space-between;
    align-items:center;
}

.order-dropdown {
    width:10rem;
    height:3rem;
    padding-left:1.2rem;
    background-color: #333;
    color:white;
    border:none;
    border-right:1rem solid #333;
    border-radius:.4rem;
    margin:1em;
}

.order-dropdown:hover {
    cursor: pointer;
}

@media (max-width:1100px){
    .content {
        display:block;
    }

    .games {
        display:grid;
        grid-template-columns:1fr 1fr;
    }

    .grid-col {
        width:100%;
    }

    .card {
        width:100%;
    }
}

@media (max-width:768px){
    .games {
        display:block;
        width:100%;
    }

    .grid-col {
        width:100%;
    }

    .card {
        width:100%;
    }
}