* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#111;
    max-width:75vw;
    margin:auto;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height:75vh;
}

.navigation {

}

.inner-navigation {
    padding-top:2rem;
    font-size:1.1rem;
    font-weight:bolder;
}

li {
    list-style:none;
}

.content {
    height:100%;
}

.games {
    display:flex;
}

.grid-col {
    flex:1;
    padding:.5em;
    width:10rem;
    height:min-content;
}



h1 {
    width:100%;
    padding:2rem 0;
    font-size:2.5rem;
}

.card {
    width:100%;
    background:#222;
    border-radius:1.2rem;
    margin-bottom:1rem;
    break-inside:avoid-column;
    break-before: auto;
}

.game-image {
    width:100%;
    height:auto;
    border-top-left-radius:1.2rem;
    border-top-right-radius:1.2rem;
}

.game-title {
    padding:1.5rem 1.2rem;
    font-size:1.5rem;
}

.loading-initial-content {
    fill:white;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:5rem;
    height:100%;
}

.loading-more-content {
    display:none;
    fill:white;
    display:flex;
    justify-content: center;
    padding:5rem;
}

#linear {
    visibility:hidden;
}

@media (max-width:1100px){
    .games {
        display:grid;
        grid-template-columns:1fr 1fr;
    }

    .grid-col {
        width:100%;
    }

    .card {
        width:100%;
    }
}

@media (max-width:768px){
    .games {
        display:block;
        width:100%;
    }

    .grid-col {
        width:100%;
    }

    .card {
        width:100%;
    }
}