
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color:#111;
    max-width:95vw;
    margin:auto;
    color:white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.play-hunter {
    text-decoration:none;
    color:white;
}

.inner-navigation {
    padding-top:2rem;
    font-size:1.1rem;
    font-weight:bolder;
}

li {
    list-style:none;
}

.sidebar {
    position:sticky;
    background-color:#111;
    top:2rem;
    height:100vh;
    overflow-y:auto;
    max-height: 110vh;
    width:min(100%, 200px);
}

.sidebar-option {
    display:block;
    padding:.5rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
    text-decoration:none;
    color:white;
    background:#333;
    padding:.5rem;
    border:none;
}

.sidebar-option:hover {
    cursor:pointer;
    background:#444;
}

.sidebar-option:active {
    background:#333;
}

.sidebar-content {
    margin-bottom:2.5rem;
}

.content {
    display:grid;
    grid-template-columns:12% 88%;
}

.games {
    display:flex;
    height:min-content;
    font-weight:bold;
}

.grid-col {
    flex:1;
    gap:1rem;
    padding:1rem;
    width:10rem;
    height:min-content;
    padding-top:0;
}

h1 {
    width:100%;
    padding:2rem 0;
    font-size:4rem;
}

.card-transition {
    transition-property: border;
    transition-duration:.4s;
    transition-timing-function:linear;
    border:.5rem solid #222;
    position:relative;
    width:100%;
    background:#222;
    border-radius:1.2rem;
    margin-bottom:1rem;
    break-inside:avoid-column;
    break-before: auto;
}

.card:hover {
    transition-property: none;
    cursor:pointer;
    background:#343434;
    border:.6rem solid #343434;
}

.game-image {
    width:100%;
    height:auto;
    border-radius:.5rem;
    border-top-left-radius:1.2rem;
    border-top-right-radius:1.2rem;
}

.game-title {
    padding:1rem;
    padding-top:0;
    padding-bottom:0;
    font-size:1.4rem;
}

.game-genres {
    padding:1rem;
    padding-top:0;
    padding-bottom:1.5rem;
    font-size:1rem;
    color:#aaa;
}

.game-platforms {
    padding:.4rem 1rem;
    margin:.2rem;
    font-size:1rem;
    color:#aaa;
    background:#151515;
    border-radius:.3rem;
    width:fit-content;
}

.game-rating {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0,0,0,0.7);
    justify-content:flex-end;
    padding:.7rem;
    font-weight:bolder;
    color:hsl(96, 82%, 59%);
    border-top-right-radius:1.2rem;
}

.loading-initial-content {
    fill:white;
    display:flex;
    justify-content: center;
}

.loading-more-content {
    display:none;
    fill:white;
    display:flex;
    justify-content: center;
    grid-column:2;
}

#linear {
    visibility:hidden;
}

#spinner {
    text-align:center;
}

.order-section {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.order-dropdown {
    width:10rem;
    height:3rem;
    padding-left:1.2rem;
    background-color: #333;
    color:white;
    border:none;
    border-right:1rem solid #333;
    border-radius:.4rem;
    margin:1em;
}

.order-dropdown:hover {
    cursor: pointer;
}

.slide {
    transform:translateX(0);
}

@media (min-width:1900px){
   body {
    max-width:120rem;
    padding:2rem;
    padding-top:0;
   }
}

@media (max-width:1100px){
    body {
        max-width:100vw;
    }
    
    .header {
        display:flex;
        position:sticky;
        top:0;
        left:0;
        z-index:1;
        background:#333;
        width:100%;
        align-items:center;
        justify-content:space-between;
        margin-bottom:1rem;
        padding:1rem 1rem;
    }

    .order-section {
        align-items:center;
        justify-content:space-between;
    }

    .inner-navigation {
        display:flex;
        justify-content:space-between;
        padding:0;
    }

    .content {
       display:block;
       grid-template-columns:1fr 1fr;
    }

    .order-dropdown {
        justify-content:flex-end;
        height:100%;
        width:min-content;
        border:none;
        margin:0;
        margin-left:1rem;
        padding:.5rem;
        background-color:#222;
    }

    .play-hunter {
        font-size:1rem;
        margin:0;
        padding:0;
    }

    .current-order-title {
        font-size:1rem;
        margin:0;
        padding:0;
        width:fit-content;
    }

    .current-order-title {
        cursor: pointer;
    }

    .games {
        display:grid;
        grid-template-columns:1fr 1fr; 
    }

    .grid-col {
        width:100%;
    }

    .card {
        width:100%;
    }

    .sidebar {
        position:fixed;
        top:4rem;
        padding:2rem;
        padding-left:0;
        width:25%;
        z-index: 1;
        margin:0;
        padding:0;
        transition-property:all;
        transition-duration: .3s;
        transition-timing-function:ease-out;
        padding-bottom:3rem;
    }

    .sidebar-content {
        margin:1rem 1rem 2.5rem 1rem;
    }    

    .hidden {
        transform:translateX(-25rem);
    }

    .toggleSidebar {
        position:fixed;
        top:0;
        right:0;
        margin-left:auto;
        width:2rem;
        height:2rem;
        background-color:#111;
        justify-content:flex-end;
    }
}

@media (max-width:992px){
    .sidebar {
        width:25%;
    }
}

@media (max-width:768px){
    .games {
        display:block;
    }

    .sidebar {
        width:30%;
    }
}

@media (max-width:576px){
    .sidebar {
        width:40%;
    }
}